

@font-face {
    font-family: 'rosehot';
    src: url(fonts/rosehot.tff/Rosehot.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
body{
    background-color: #F5624D;
    font-size: 16px;
    background-image: url(img/principal.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;

}
h1{
    text-align: center;
    text-decoration: dotted;
    text-decoration-color:aqua;
    text-decoration-line: underline;
    color: rgb(255, 255, 255);
    font-family: 'rosehot';
}
h2{
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 25px, 25px;
    font-family: 'rosehot';
}
.present1{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 50%);
    background-color:  rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present2{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(80%, 50%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present3{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(210%, 50%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
} 
.present4{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(340%, 50%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present5{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(470%, 50%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present6{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(630%, 50%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present7{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(-670%, 320%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present8{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(-550%, 320%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present9{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(-430%, 320%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present10{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(-280%, 320%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present11{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(-170%, 320%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present12{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(1130%, 220%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.craciun-fericit{
    display: inline-block;
    padding: 4vh 3rem;
    top: 50%;
    left: 50%;
    transform: translate(300%, 420%);
    background-color: rgba(196, 31, 40, 1);
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.principal-present:hover{
    color:rgb(124, 138, 1);
}
a{
    text-decoration: none;
    color: rgb(17, 87, 0);
}
.principal-present:active{
    color: #F5624D;
  
}   