@font-face {
    font-family: 'rosehot';
    src: url(../css/fonts/rosehot.tff/Rosehot.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

h1{
    text-align: center;
    color: #2DBD13;
    font-family:'Rosehot';
    font-size: 10rem;
    text-shadow: 2px 5px 7px rgba(0,0,0,0.6);
    margin-top: 0vh;
}
h2{
    text-align: left;
    padding: 55px;
    margin-left: 35%;
    margin-top: -10vh;
    color: #2DBD13;
    font-family: 'Rosehot';
    font-size: 3rem;
    text-shadow:2px 5px 7px rgba(0,0,0,0.6)
}
body{
       background-image: url(img/background.present1.jpg);
        font-size: 16px;
        background-size: 1950px 950px ;
        background-repeat: no-repeat;

}
.btn{
    padding: 12px 250px;     
    display: inline-block;
    transition: 0,3s;
    font-weight: bold;
    border-radius: 8px;
    color: gold;
    background-color: #2DBD13;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-family: 'Rosehot';
    box-shadow: 2px 4px 3px rgba(0,0,0,0.7);
    text-decoration: none;
}
.backbtn{
    position: absolute;
    left: 50%;
    top: 77%;
    transform: translate(-50%, -300%);
    font-size: larger;
    color: #2DBD13;
    font-size: 2rem;
    text-shadow: 2px 5px 7px rgba(0,0,0,0.6);
    text-decoration: none;
    font-weight: bolder;
}
h1::after{
  content: url(img/🎄.png);
} 
h1::before{
    content: url(img/🎄.png);
}
.btn:hover{
    background-color: rgba(196, 31, 40, 1);
    border-radius: 3rem;
}
.backbtn:hover{
    color: gold;
}
h2::after
   