body{
    background-color: #F5624D;
    font-size: 16px;
    background-image: url ("C:\Users\aarde\Desktop\index.html\img\winter.jpg.jpg")
}
@font-face {
    font-family: 'rosehot';
    src: url(fonts/rosehot.tff/Rosehot.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
h1{
    text-align: center;
    text-decoration: dotted;
    text-decoration-color:aqua;
    text-decoration-line: underline;
    color: rgb(124, 138, 1);
    font-family: 'rosehot';
}
.present1{
    display: inline-block;
    padding: 35px 35px;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
}
h2{
    text-align: center;
    text-decoration: none;
    color: green;
    padding: 25px, 25px;
    font-family: 'rosehot';
}
.present2{
    display: inline-block;
    padding: 35px 35px;
    top: 50%;
    left: 50%;
    transform: translate(50%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
}
.present3{
    display: inline-block;
    padding: 35px 35px;
    top: 50%;
    left: 50%;
    transform: translate(150%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
}
