body{
    background-color: #F5624D;
    font-size: 16px;
    background-image: url(img/winter.jpg.jpg);
}
@font-face {
    font-family: 'rosehot';
    src: url(fonts/rosehot.tff/Rosehot.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}
h1{
    text-align: center;
    text-decoration: dotted;
    text-decoration-color:aqua;
    text-decoration-line: underline;
    color: rgb(124, 138, 1);
    font-family: 'rosehot';
}
.present1{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(-30%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
h2{
    text-align: center;
    text-decoration: none;
    color: green;
    padding: 25px, 25px;
    font-family: 'rosehot';
}
.present2{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(80%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present3{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(210%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
} 
.present4{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(340%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present5{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(470%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
.present6{
    display: inline-block;
    padding: 4vh 4vh;
    top: 50%;
    left: 50%;
    transform: translate(630%, 50%);
    background-color: green;
    border-radius: 8px;
    border-left: 5px;
    margin-left: 5px;
    font-family: 'rosehot';
    font-size: large;
    box-shadow: 3px 2px 4px;
}
