@font-face {
    font-family: 'rosehot';
    src: url(fonts/rosehot.tff/Rosehot.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
@media (max-width: 600px) {
    body {
        font-size: 14px;
    }
}

h1{
    text-align: center;
    text-decoration: dotted;
    text-decoration-line: underline;
    text-decoration-color: rgba(131, 58, 180, 1);
    text-decoration-thickness: 5px;
    color: #2DBD13;
    font-family:'Rosehot';


}
h2{
    text-align: center;
    padding: 55px;
    color: #2DBD13;
    font-family: 'Rosehot';

}
body{
        background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(189, 19, 19, 1) 69%, rgba(252, 176, 69, 1) 100%);
        font-size: 16px;

}
.backbtn{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-size: larger;
    color: #2DBD13;
}
.btn{
    padding: 70px 70px;     
    display: inline-block;
    transition: 0,3s;
    font-weight: bold;
    border-radius: 8px;
    color: whitesmoke;
    background-color: #2DBD13;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Rosehot';
}
